# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pdb
JokerFizzBuddy/JokerFizzBuddy/obj/Release/JokerFizzBuddy.csproj.GenerateResource.Cache
*.cache
JokerFizzBuddy/JokerFizzBuddy/obj/Release/JokerFizzBuddy.exe
*.txt
JokerFizzBuddy/JokerFizzBuddy/obj/Release/JokerFizzBuddy.Properties.Resources.resources
*.manifest
JokerFizzBuddy/JokerFizzBuddy/bin/x86/Debug/JokerFizzBuddy.vshost.exe.config
*.exe
*.dll
JokerFizzBuddy/JokerFizzBuddy/bin/x86/Debug/JokerFizzBuddy.exe.config
JokerFizzBuddy/JokerFizzBuddy/bin/Release/JokerFizzBuddy.exe.config
